@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: no-repeat center/cover url('https://img5.goodfon.com/original/1366x768/d/5f/rok-kontsert-stsena-siluet.jpg');
}

main {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #00000047;
  flex-direction: column;
}

.drum-kit-key-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.drum-kit__key {
  text-transform: uppercase;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  height: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.keydown {
  background-color: red;
}

.drum-kit-rhythm-container {
}

.drum-kit-rhythm-instrument-container {
  display: flex;
  justify-content: space-between;
}

.drum-kit-rhythm-instrument-container > span {
  max-width: 100px;
  color: #ffffff;
  margin-right: 20px;
}

.instrument-pads-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.drum-kit-rhythm_fouth {
  box-shadow: inset 0px 0px 6px 1px #00ff0870;
}

.pad_black {
  background-color: #000000;
}
.pad_gray {
  background-color: #696969;
}
.pad_red {
  background-color: #ff0000;
}

.pad_current-playing {
  box-shadow: inset 0px 0px 6px 1px #ffffff;
}

.drum-kit-rhythm__pad {
  height: 16px;
  width: 16px;
  margin: 2px;
}

.drum-kit-rhythm__pad:hover {
  transition-duration: 0s;
}

/*DAW*/
.daw-container {
  background: rgb(255 255 255 / 50%);
  padding: 15px;
  position: relative;
  width: 100%;
  backdrop-filter: blur(8px);
}

.daw-controls {
}

.daw-controls__button {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #000000;
  padding: 5px 10px;
  color: #ffffff;
  margin-right: 10px;
}

.step-sequencer {
  display: flex;
  flex-direction: column;
  /* overflow: auto hidden; */
  width: 100%;
}

.sequencer-pattern {
  overflow-x: auto;
  /* width: 1000px; */
  /* position: relative; */
  /* width: 30%; */
  /* overflow: auto; */
  /* min-width: 600px; */
  /* width: 800px; */
  /* scroll-behavior: smooth; */
}

.channel-sequence {
  display: flex;
  align-items: flex-end;
}

.sequence-step {
  height: 16px;
  width: 16px;
  min-width: 16px;
  margin: 2px;
}

.sequence-step_black {
  background-color: #000000;
}

.sequence-step_gray {
  background-color: #696969;
}

.sequence-step_active {
  background-color: #ff0000;
}

.sequence-step_current-playing {
  box-shadow: inset 0px 0px 6px 1px #ffffff;
}

.channels {
}

.channel {
  display: flex;
  justify-content: flex-end;
  min-height: 20px;
  align-items: center;
}

.channel__name {
  margin-right: 16px;
  text-align: right;
  max-height: 20px;
  overflow: hidden;
  min-width: 150px;
}

.channel__volume-slider {
  margin-right: 8px;
}

.sequencer-body {
  display: flex;
  /* width: 80%; */
}
.channel__volume-mute {
  margin-right: 8px;
}

.sequencer-controls {
  margin: 20px 0;
  display: flex;
}

.sequencer-controls__bpm-input {
  text-align: center;
  max-width: 45px;
}

.sequencer-controls__button {
  all: unset;
  height: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.sequencer-controls__button-play {
  width: 30px;
  font-size: 0px;
}

.sequencer-controls__button-play_pause {
  background-image: url(assets/icons/svg/pause.svg);
}

.sequencer-controls__button-play_play {
  background-image: url(assets/icons/svg/play.svg);
}

.sequencer-controls__button-add-steps {
  width: 30px;
  font-size: 0px;
  background-image: url(assets/icons/svg/add.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.sequencer-controls__button-remove-steps {
  width: 30px;
  font-size: 0px;
  background-image: url(assets/icons/svg/remove.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sequencer-controls__button-add-channel {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #000000;
  font-size: 10px;
  padding: 0 10px;
  color: #ffffff;
  margin-right: 10px;
}

.modal-window__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #737373e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: relative;
  padding: 20px;
  min-width: 320px;
  background: #ffffff;
}

.modal-window__title {
  margin-bottom: 20px;
}

.modal-window__button {
}

.modal-window__button_cancel {
  all: unset;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #000000;
}

.modal-window__button_cancel:hover {
  box-shadow: inset 0px 0px 10px 0px #00000070;
}

.modal-window_add-instrument {
  display: flex;
  flex-direction: column;
}

.modal-content {
  width: 100%;
}

.modal-content__input {
  margin-bottom: 10px;
}

.modal-content_save-file {
}

.modal-content__input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content__input-label {
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
}

.modal-content_add-instrument {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sequencer-controls__button-remove-channel {
  all: unset;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  font-size: 0px;
  background-image: url(assets/icons/svg/remove.svg);
  background-size: cover;
  background-position: center;
  min-width: 16px;
}
